EMAIL_USER=seu-email@gmail.com
EMAIL_PASS=sua-senha-de-app-google
SENDGRID_API_KEY=your-sendgrid-api-key
MONGODB_URI=your-mongodb-connection-string
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
NODE_ENV=production
