EMAIL_USER='ppprojeto3@gmail.com'
EMAIL_PASS='khxfsmyesrjbobvr'
SENDGRID_API_KEY='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'
MONGODB_URI='mongodb+srv://LaraYslen-07:Lmcg1520@cluster-01-apec.g9yvjqp.mongodb.net/?appName=Cluster-01-Apec'
CLOUDINARY_CLOUD_NAME='dncqbrkuq'
CLOUDINARY_API_KEY='723159816812975y'
CLOUDINARY_API_SECRET='TuFS2oRPuncARwXV-d5SRYmT6SY'
NODE_ENV=production
